@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200;300;400;500&display=swap');

*{
    margin: 0%;
}
.container{
    max-width: 100%;
    margin: 0%;
}
.column{
    display: flex;
    margin: 0%;
    
}
#logo{
    margin-left: 3%;
    margin-top: 3%;
}
.left{
    background-color: black;
    width: 20%;
    margin: 0%;
}
.right{
    background-color: #0e0e0e;
    width: 100%;
}
.left-btn{
    background-color: transparent; 
    display: flex;
    align-items: center;
    /* height: 100% ; */
    padding: 10px;
    border: 0px ;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    margin: 2%;
    width: 80%;
    text-align: left; 
}
.left-btn:hover{
    background-color: #282828;

}
.install{
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    margin-top: -35px;
    color: white;
    font-family: 'Mukta', sans-serif;

}
.row1{
    display: flex;
}
.row2{
    display: flex;
}
.col11{
    background-color: #8d67ab;
    width: 45%;
    /* height: 60%; */
    font-size: 350%;
    padding-left: 15px;
    padding-top: 2px;
    
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 15px;
}
.col12{
    background-color: #ba5d07;
    width: 45%;
    /* height: 60%; */
    font-size: 350%;
    padding-left: 15px;
    padding-top: 2px;
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin-right: 1%;
    border-radius: 15px;
}
.col3{
background-color: #27856a;
    width: 45%;
    /* height: 60%; */
    font-size: 200%;
    padding-left: 15px;
    padding-top: 2px;
    
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin: 1%;
    border-radius: 15px;
}
.col4{
background-color:#1e3264;
    width: 45%;
    /* height: 60%; */
    font-size: 200%;
    padding-left: 15px;
    padding-top: 2px;
    
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin: 1%;
    border-radius: 15px;
}
.col5{
background-color: #8d67ab;
    width: 45%;
    /* height: 60%; */
    font-size: 200%;
    padding-left: 15px;
    padding-top: 2px;
    
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin: 1%;
    border-radius: 15px;
}
.col6{
background-color:  #e8115b; 
    width: 45%;
    /* height: 60%; */
    font-size: 200%;
    padding-left: 15px;
    padding-top: 2px;
    
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin:1%;    
    border-radius: 15px;
}
.tc{
    font-size: 170%;
    padding-left: 2%;
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    margin: .01em;
    /* margin-left: 20%; */
}
.search {
    width: 30%;
    /* margin: 10px; */
    margin-left: 10px;
    /* margin-bottom: -15%; */
    height: 40px;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    font-weight: 500;
    padding-left: 70px;
    background-image: url('search.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5px center;
    border: 1px solid #ccc;
    border-radius: 30px;

}
.nav{
    display: flex;
    margin: .5em;
    padding-left: 2em;

}
.top-arr{
    border-radius: 100%;
    background-color: transparent; 
    border: 0px ;
    color: #282828;
    background-color: #282828;
    margin-right: 2%;
}
.downbar{
    background-color: #181818;
    
    width: 100%;
    position:sticky;
    /* display: inline-block; */
    vertical-align: baseline; 
    color: #fff; 
    /* padding: 10px 20px; */
    /* position: fixed; */
    left: 0%;
    bottom: 0%;
    margin: 0%;    
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    /* size: 20px;
    font-size: medium;
    padding-left: 30px; */
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    /* margin-bottom: 0%; */
}
.num{
    margin-left: 5px;
    margin-right: 5px;
}
.downimage{
    display: flex;
    
    margin-top: -3.8%;
    width: 12%;
    /* height: auto;  */
    /* margin-left: 10px;
    margin-bottom: 5%;  */
    margin-left: 1.5em;
    padding-bottom: 1.5em;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.move{
    margin: 0;
}
.imagedown{
    width: 25px;
    height: auto;
    margin: 5px;
    margin-top: -13px;
}
.imgright{
    padding-right: 1em;
    padding-top: 6em;
    z-index: 100;
}
